.DNDList {
  padding: 0 12px;
  cursor: grab;
  overflow-y: hidden;
}
DIV.DNDList DIV:first-child LABEL.DNDLabel {
  padding: 0 12px 0 0;
}
.DNDLabel:hover {
  background: lightblue;
  cursor: grab;
}
.DNDLabel LABEL {
  padding: 0 4px;
  margin: 0;
  cursor: text;
}
